[submodule "libpicofe"]
	path = frontend/libpicofe
	url=https://github.com/ifcaro/libpicofe.git
	branch = for_psclassic
[submodule "warm"]
	path = frontend/warm
	url = git://notaz.gp2x.de/~notaz/warm.git